@using DAL.Models;
@model List<Film>
<table>
    <thead>
    <tr>
        <th>Film Name</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Synopsis</th>
        <th>IMDB Rating</th>
        <th>My Rating</th>
        <th>Watched?</th>
    </thead>

    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.FilmName</td>
                <td>@film.Genre</td>
                <td>@film.ReleaseDate</td>
                <td>@film.Synopsis</td>
                <td>@film.ImdbRating</td>
                <td>@film.MyRating</td>
                <td>@film.Watched</td>
            </tr>
        }
    </tbody>

    <tfoot>

    </tfoot>
</table>