@model DAL.Models.Film

@{
    ViewBag.Title = "CreateNewFilm";
}

<h2>CreateNewFilm</h2>


@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.FilmName, "Film Name:*")
    @Html.EditorFor(m => m.FilmName)
    
    @Html.LabelFor(m => m.Genre, "Genre:*")
    @Html.EditorFor(m => m.Genre)
    
    @Html.LabelFor(m => m.ReleaseDate, "Release Date:*")
    @Html.EditorFor(m => m.ReleaseDate)
    
    @Html.LabelFor(m => m.Synopsis, "Synopsis:*")
    @Html.EditorFor(m => m.Synopsis)

    @Html.LabelFor(m => m.ImdbRating, "IMDB Rating:*")
    @Html.EditorFor(m => m.ImdbRating)

    @Html.LabelFor(m => m.MyRating, "My Rating:")
    @Html.EditorFor(m => m.MyRating)

    @Html.LabelFor(m => m.Watched, "Watched?")
    @Html.EditorFor(m => m.Watched)
        
    <input type="button" value="Add" href="@Url.Action("AddFilm", "CreateNewFilm")" />
}